@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    font-family: 'Poppins';
}

.career-container {
    margin: 0 auto;

}

.grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 10px;
}

.grid-item {
    margin: 30px;
    font-size: 1em;
    text-align: start;
}

.career-container h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("/Images/career-images-2.jpg");
    background-blend-mode: multiply;
    background-size:cover;
    padding-bottom: 30px;
    text-align: center;
    height: 500px;
}

.btn-container {
    margin-top: 10px;
}

.main-header-btn a {
    text-decoration: none;
    color: white;
}

.main-header-btn {
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.main-header-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.work-with-us-h1 {
    font-size: 10em;
    padding-top: 100px;
    color: white;
}

.image-container {
    display: inline-block;
    margin: 50px auto 10px auto;
    justify-content: center;
}

.image-container img {
    height: 330px;
    width: auto;
    margin: 3px;
}

.open-pos-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.open-pos-container nav {
    background-color: white;
    margin-bottom: 30px;
}

.open-pos-container li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
}

.open-pos-container a {
    text-decoration: none;
    color: black;
}

.open-pos-container a:hover {
    border-bottom: 2px solid rgb(18, 150, 170);
}

.job-item{
    padding-bottom: 15px;
    margin-bottom: 13px;
    border-bottom: 1px solid ;
}

.job-item:last-child {
    border-bottom: none;
}

.job-title {
    font-weight: bold;
}

.job-btn {
    float: right;
    background-color: #08536f;
    color: white;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 15px;
}

.job-btn:hover {
    background-color: rgba(red, green, blue, alpha);
}